body {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
  height: 161px;
  width: 311px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.headerFirstLine {
  margin: 0rem;
  padding-right: 0.5rem;
}
.headerSecondLine {
  margin: 0.2rem;
  padding-left: 1rem;
  font-weight: normal;
}

p {
  font-weight: 100;
  font-size: small;
  padding-bottom: 2rem;
  opacity: 0.5;
}

.card {
  box-shadow: 4px 10px 15px 5px rgba(219, 229, 239, 255);
  border-radius: 0.6rem;
  margin: 1rem;
  text-align: left;
  padding: 1rem;
  height: 222px;
  width: 311px;
}
#super {
  border-top: 5px solid #64e1dc;
}
#team {
  border-top: 5px solid #e63950;
}
#karma {
  border-top: 5px solid #fdbf00;
}
#calc {
  border-top: 5px solid #549ef2;
}

img {
  float: right;
  padding-bottom: -1rem;
}

@media all and (min-width: 1110px) {
  .header {
    width: 540px;
  }
  .container {
    display: flex;
    flex-direction: row;

    .inner {
      flex-direction: column;
    }
  }
}
